<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335544571045-1sms6mc3ha35inr00vsr3gtj0563v5qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335544571045-1sms6mc3ha35inr00vsr3gtj0563v5qq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>335544571045-btg9lfgm4vpsid4lhmq4sebpjjbvcmop.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGrVBTY0phaqM9Ld4oq2Pq1HAr7DNPSUc</string>
	<key>GCM_SENDER_ID</key>
	<string>335544571045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warrantyKeeper.underDevelopment</string>
	<key>PROJECT_ID</key>
	<string>warranty-tracker-a6492</string>
	<key>STORAGE_BUCKET</key>
	<string>warranty-tracker-a6492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335544571045:ios:e4acd72e29d7130d0e694c</string>
	<key>DATABASE_URL</key>
	<string>https://warranty-tracker-a6492-default-rtdb.firebaseio.com</string>
</dict>
</plist>