<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124784714958-0sf1k2u76t5k1no4564mr6v6ifn91gq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124784714958-0sf1k2u76t5k1no4564mr6v6ifn91gq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124784714958-mugcqnj2du1amatba8psv0ndt86pc6jc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCua6cztRU0_DXR8C6Ez39KnJgE3PEodQw</string>
	<key>GCM_SENDER_ID</key>
	<string>124784714958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warranty-watch.underDevelopment</string>
	<key>PROJECT_ID</key>
	<string>warranty-watch-9e62c</string>
	<key>STORAGE_BUCKET</key>
	<string>warranty-watch-9e62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124784714958:ios:ed49ca120b74331ee41c9f</string>
</dict>
</plist>